= provide(:title, site_title('Signup'))
%div{ class: %(flex w-full justify-center) }
  %div{ class: %w(flex flex-wrap w-6/12) }
    %div{ class: %w(flex flex-wrap w-full) }
      - if @user.errors.any?
        = render partial: 'shared/errors', object: @user.errors
      %h1{ class: %w(text-lg font-semibold w-full) }= t('.signup_title')
      - if flash[:success]
        %div
          %span= flash[:success]
      = form_with model: @user, html: { class: 'w-full' }, url: signup_path, local: true do |f|
        %div{ class: %w(flex flex-wrap w-full mt-4) }
          %div{ class: 'flex mt-4 w-full' }
            = f.label :name, t('.name'), { class: 'w-3/12' }
            = f.text_field :name, { class: 'w-9/12 border-solid border-1 border-black ml-2' }
          %div{ class: 'flex mt-4 w-full' }
            = f.label :email, t('.email'), { class: 'w-3/12' }
            = f.email_field :email, { class: 'w-9/12 border-solid border-1 border-black ml-2' }
          %div{ class: 'flex mt-4 w-full' }
            = f.label :password, t('.password'), { class: 'w-5/12' }
            = f.password_field :password, { class: 'w-7/12 border-solid border-1 border-black ml-2' }
          %div{ class: 'flex mt-4 w-full' }
            = f.label :password_confirmation, t('.password_confirmation'), { class: 'w-5/12' }
            = f.password_field :password_confirmation, { class: 'w-7/12 border-solid border-1 border-black ml-2' }
          = f.submit t('.signup'), { class: 'mt-4 w-full' }
