- if @post.errors.any?
  = render partial: 'shared/errors', locals: { errors: @post.errors.full_messages }
%h1{ class: %w(text-lg font-semibold w-full) }= t('.title')
- if flash[:success]
  %div
    %span= flash[:success]
= form_with model: @post, local: true, method: :post do |f|
  = f.label :title
  = f.text_field :title
  = f.label :content
  = f.text_field :content
  = f.submit t('.save')
