<!DOCTYPE html>
<html>
  <%= render 'shared/header.html.erb' %>
  <body>
    <div class='flex flex-wrap container mx-auto'>
      <%= render 'shared/navbar.html.haml' %>
      <div class='main-content flex flex-wrap w-full p-6'>
        <%  if flash[:notification] %>
          <%= render partial: 'shared/notification', locals: { messages: flash[:notification]['messages'] } %>
        <% end %>
        <%= yield %>
      </div>
      <%= render 'shared/footer.html.haml' %>
    </div>
  </body>
</html>
